*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Roboto" ,"Arial", sans-serif;
}

.project {
  margin-bottom: 30px;
  width: 48.5%;
  min-height: 48.5%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  box-shadow: 0 4px 10px #888;

  color: #ffffff;
  font-size: 60px;
  line-height: 60px;
  text-decoration: none;

  transition: .2s;
}

.project__icon {
  margin-right: 60px;
}

.project--cat {
  background: linear-gradient(155deg, rgba(230,147,0,1) 10%,rgba(104,183,56,1) 100%);
}

.project--cat:hover,
.project--bear:hover {
  transform: scale(0.99);
  box-shadow: 0 2px 10px #888;
}

.project--bear {
  background: linear-gradient(155deg, rgba(70,193,174,1) 0%, rgba(255,198,100,1) 90%);
}

@media (max-width: 1150px) {
  body {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .project {
    width: 98%;
  }
}

@media (max-width: 768px) {
  .project {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 560px) {
  .project {
    flex-direction: column;
  }

  .project__icon {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .project {
    position: relative;
    font-size: 0;
  }

  .project__icon {
    position: absolute;
    margin: 0;

    width: 66%;
    height: 66%;
  }
}