@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  margin: auto;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 21px;
  font-family: 'Ubuntu Mono', monospace;
}
legend {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
input[type='radio'] {
  width: 32px;
  height: 32px;
}
p,
a,
ul,
label,
input,
button,
fieldset,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: inherit;

  border-radius: 5px;
  resize: none;
}
input:disabled,
button:disabled {
  cursor: not-allowed;
}
p {
  font-size: 26px;
}
body {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  gap: 30px;
  padding-top: 60px;
  height: 100%;

  color: var(--text-color);
  background-color: var(--back-color);

  text-transform: uppercase;
}
@media (min-width: 640px) {
  body {
    padding-top: 0;
    justify-content: center;
  }
}
nav {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  padding: 20px;
  width: 100%;
  height: 100%;

  background-color: var(--back-color);

  z-index: 999;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 100%;
}
.nav--open {
  display: block;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: inherit;
  font-weight: bold;

  transition: .2s;
}
a:hover {
  color: var(--link-text-hover);
  background-color: var(--link-back-hover);
}
a:focus-visible {
  outline: 3px solid var(--outline-color);
}
@media (min-width: 720px) {
  nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 60px;
  }

  a {
    align-self: start;

    height: 60px;
  }
}
.input-container {
  display: flex;
  flex-direction: column;

  gap: 15px;

  width: 100%;
}
.input-wrapper {
  position: relative;

  width: 100%;
  height: 60px;
}
.input,
.label {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 5px;
  width: 100%;
  height: 100%;

  border-radius: 0;

  text-align: center;
  color: inherit;
  font-size: 18px;
  line-height: inherit;
  text-transform: none;

  overflow: hidden;
  transition: .2s;
}
.label {
  color: var(--text-wrong-color);
  pointer-events: none;
}
.input {
  background-color: var(--input-back-color);
}
.input:hover {
  background-color: var(--input-back-hover);
}
.input:focus {
  background-color: transparent;
}
.input:focus ~ .input--bottom-border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: var(--input-back-color);
}
.input:disabled {
  background-color: var(--disabled-back-color);
}
/* @media (min-width: 340px) {

  .input,
  .label {
    font-size: 15px;
  }
} */
@media (min-width: 360px) {

  .input,
  .label {
    font-size: 16px;
  }
}
@media (min-width: 380px) {

  .input,
  .label {
    font-size: 17px;
  }
}
@media (min-width: 400px) {

  .input,
  .label {
    font-size: inherit;
  }
}
@media (min-width: 420px) {
  .input-container {
    max-width: 400px;
  }

  .input,
  .label {
    border-radius: 5px;
  }
}
.button-wrapper {
  display: flex;
  justify-content: space-between;

  gap: 15px;
  width: calc(100% - 40px);
  max-width: 400px;
}
button {
  width: calc(100% - 75px);
  height: 60px;

  color: var(--button-text-color);
  background-color: var(--button-back-color);

  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  transition: .2s;
  cursor: pointer;
}
button#menu {
  width: 60px;

  font-size: 30px;
}
button:hover {
  color: var(--button-text-hover);
  background-color: var(--button-back-hover);
}
button:focus-visible {
  outline: 3px solid var(--outline-color);
}
button:disabled {
  color: var(--disabled-text-color);
  background-color: var(--disabled-back-color);
}
.themes {
  gap: 15px;
  display: flex;
  justify-content: space-between;

  height: 32px;
}
.light,
.dark {
  display: none;
}
.color__radio {
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.dark .color__radio:checked {
  background-image: radial-gradient(circle at center,
      #fff 0,
      #fff 15%,
      transparent 25%,
      transparent 45%,
      #fff 55%);
}
.dark .color__radio--blue {
  background-color: #3685ff;
}
.dark .color__radio--green {
  background-color: #2b6047;
}
.dark .color__radio--yellow {
  background-color: #dea041;
}
.dark .color__radio--red {
  background-color: #86152d;
}
.dark .color__radio--violet {
  background-color: #462e85;
}
.light .color__radio:checked {
  background-image: radial-gradient(circle at center,
      #333 0, #333 15%,
      transparent 25%,
      transparent 45%,
      #333 55%);
}
.light .color__radio--blue {
  background-color: #c5d8ee;
}
.light .color__radio--green {
  background-color: #a8b9bf;
}
.light .color__radio--yellow {
  background-color: #fffbe6;
}
.light .color__radio--red {
  background-color: #ecd1d7;
}
.light .color__radio--violet {
  background-color: #beb1d1;
}
.switcher {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switcher__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  transition: filter .1s ease-in;
}
.switcher__radio:focus {
  outline: none;
}
.switcher__radio--light {
  background-image: url(./../../icons/sun.svg);
}
.switcher__radio--auto {
  background-image: url(./../../icons/auto.svg);
}
.switcher__radio--dark {
  background-image: url(./../../icons/moon.svg);
}
.switcher__status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgb(0 0 0 / .2);
  border-radius: 18px;
  background-color: rgb(255 255 255 / .5);
  background-repeat: no-repeat;
  background-image: url(./../../icons/status.svg);
  background-size: 32px;
  background-position: center;
  transition: background-position .1s ease-in;
}
.switcher__radio--light:checked ~ .switcher__status {
  background-position: left center;
}
.switcher__radio--dark:checked ~ .switcher__status {
  background-position: right center;
}
