/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v15/KFOjCneDtsqEr0keqCMhbCc3CsTKlA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v15/KFOjCneDtsqEr0keqCMhbCc0CsTKlA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v15/KFO-CneDtsqEr0keqCMhbC-BL9H4tY12eg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntumono/v15/KFO-CneDtsqEr0keqCMhbC-BL9H7tY12eg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
body {
  margin: 0;
  padding: 0;
}
p,
a,
ul,
label,
input,
button,
fieldset,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: inherit;

  border-radius: 5px;
  resize: none;
}
legend {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  margin: auto;
  width: 100vw;
  min-width: 320px;
  height: 100%;
  box-sizing: border-box;
}
main {
  gap: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}
main p {
  font-size: 26px;
}
input[type='radio'] {
  width: 32px;
  height: 32px;

  cursor: pointer;
}
input[type='radio']:checked {
  cursor: auto;
}
input:disabled,
button:disabled {
  cursor: not-allowed;
}
footer {
  position: fixed;
  bottom: 30px;

  gap: 15px;
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
  width: 100%;
}
footer p {
  gap: 15px;
  display: flex;
  align-items: center;
  font-size: 18px;
}
span {
  padding: 5px;
  border-radius: 5px;
  color: var(--button-back-color);
  background-color: var(--text-color);

  font-size: 26px;
}
@media (min-width: 420px) {
  footer {
    max-width: 400px;
  }
}
@media (min-width: 640px) {
  main {
    margin-top: -100px;
  }
}
@media (max-height: 540px) {
  main {
    margin: 0;
  }

  footer {
    display: none;
  }
}
body {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  gap: 30px;
  padding: 60px 0 30px;
  height: 100%;

  color: var(--text-color);
  background-color: var(--back-color);

  font-size: 18px;
  line-height: 21px;
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
}
@media (min-width: 420px) {
  body {
    padding-bottom: 60px;
  }

  footer {
    bottom: 60px;
  }
}
@media (min-width: 640px) {
  body {
    justify-content: center;
  }
}
nav {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  padding: 20px;
  width: 100%;
  height: 100%;

  background-color: var(--back-color);

  z-index: 999;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 100%;
  height: 100%;
}
.nav--open {
  display: block;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: inherit;
  font-weight: bold;

  transition: .2s;
}
a:hover {
  color: var(--link-text-hover);
  background-color: var(--link-back-hover);
}
a:focus-visible {
  outline: 3px solid var(--outline-color);
}
@media (min-width: 720px) {
  nav {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 60px;
  }

  a {
    align-self: start;

    height: 60px;
  }
}
.input-container {
  width: 100%;
}
.input-wrapper {
  position: relative;

  width: 100%;
  height: 60px;
}
.input,
.label {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 5px;
  width: 100%;
  height: 100%;

  border-radius: 0;

  text-align: center;
  color: inherit;
  font-size: 18px;
  line-height: inherit;
  text-transform: none;

  overflow: hidden;
  transition: .2s;
}
.label {
  color: var(--text-wrong-color);
  pointer-events: none;
}
.input {
  background-color: var(--input-back-color);
}
.input:hover {
  background-color: var(--input-back-hover);
}
.input:focus {
  background-color: transparent;
}
.input:focus ~ .input--bottom-border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background-color: var(--input-back-color);
}
.input:disabled {
  background-color: var(--disabled-back-color);
}
.input--success {
  text-shadow: 0 0 3px #fff, 0 0 6px #fff,
    0 0 9px var(--text-wrong-color), 0 0 12px var(--text-wrong-color),
    0 0 15px var(--text-wrong-color), 0 0 18px var(--text-wrong-color), 0 0 21px var(--text-wrong-color);
}
.input--sup {
  position: absolute;
  top: -25%;
  left: 10px;
}
@media (min-width: 420px) {
  .input-container {
    max-width: 400px;
  }

  .input,
  .label {
    border-radius: 5px;
  }
}
.button-wrapper {
  display: flex;
  justify-content: space-between;

  gap: 15px;
  width: calc(100% - 40px);
  max-width: 400px;
}
button {
  width: calc(100% - 75px);
  height: 60px;

  color: var(--button-text-color);
  background-color: var(--button-back-color);

  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  transition: .2s;
  cursor: pointer;
}
button#menu {
  width: 60px;

  font-size: 30px;
}
button:hover {
  color: var(--button-text-hover);
  background-color: var(--button-back-hover);
}
button:focus-visible {
  outline: 3px solid var(--outline-color);
}
button:disabled {
  color: var(--disabled-text-color);
  background-color: var(--disabled-back-color);
}
@media (min-width: 420px) {
  .button-wrapper {
    width: 100%;
  }
}
.themes {
  position: relative;
}
.color {
  position: absolute;
  top: -64px;
  left: 0;

  width: 100vw;
  height: 32px;

  cursor: default;
}
.light,
.dark {
  display: none;
}
.color__radio {
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.dark .color__radio--blue {
  background-color: #3685ff;
}
.dark .color__radio--green {
  background-color: #2b6047;
}
.dark .color__radio--yellow {
  background-color: #dea041;
}
.dark .color__radio--red {
  background-color: #86152d;
}
.dark .color__radio--violet {
  background-color: #462e85;
}
.light .color__radio--blue {
  background-color: #aad4f8;
}
.light .color__radio--green {
  background-color: #62856e;
}
.light .color__radio--yellow {
  background-color: #fff2b4;
}
.light .color__radio--red {
  background-color: #ff849f;
}
.light .color__radio--violet {
  background-color: #ac94e4;
}
.color__radio:checked {
  background-color: transparent;
  background-image: radial-gradient(circle at center,
      var(--button-back-color) 0,
      var(--button-back-color) 15%,
      transparent 25%,
      transparent 45%,
      var(--button-back-color) 50%)
}
.switcher {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switcher__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  transition: filter .1s ease-in;
}
.switcher__radio:focus {
  outline: none;
}
.switcher__radio--light {
  background-image: url(./../icons/sun.svg);
}
.switcher__radio--auto {
  background-image: url(./../icons/auto.svg);
}
.switcher__radio--dark {
  background-image: url(./../icons/moon.svg);
}
.switcher__status {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 0 0 0 2px rgb(0 0 0 / .2);
  border-radius: 18px;
  background-color: rgb(255 255 255 / .5);
  background-repeat: no-repeat;
  background-image: url(./../icons/status.svg);
  background-size: 32px;
  background-position: center;
  transition: background-position .1s ease-in;
}
.switcher__radio--light:checked ~ .switcher__status {
  background-position: left center;
}
.switcher__radio--dark:checked ~ .switcher__status {
  background-position: right center;
}
