:root {
  --outline-color: #ffffff;

  --back-color: #0c0d19;
  --text-color: #f0f8ff;
  --text-wrong-color: #db79ff;

  --link-text-hover: #f0f8ff;
  --link-back-hover: #462e85;

  --input-back-color: #462e85;
  --input-back-hover: #2b1c52;

  --button-text-color: #f0f8ff;
  --button-text-hover: #f0f8ff;
  --button-back-color: #462e85;
  --button-back-hover: #2b1c52;

  --disabled-text-color: #656565;
  --disabled-back-color: #1b1c30;
}

.switcher__radio {
  filter: invert(1);
}

.switcher__radio:checked {
  filter: invert(0);
}

.switcher__status {
  filter: invert(1);
}
